.page-header
  h2 {{'about_title' | tr}}
section.omega-experimental(ng-show='isExperimental')
  p.alert.alert-warning
    span.glyphicon.glyphicon-warning-sign
    = ' '
    span {{'about_experimental_warning_moz' | tr}}
section
  .media(style='margin: 1em 0')
    .media-left
      img.media-object(src='img/icons/omega-action-32.png')
    .media-body
      h4.media-heading {{'Z&#8205e&#8205r&#8205o&#8205Omega'}}
      p {{'about_app_description' | tr}}
section
  p
    button.btn.btn-info(ng-click='reportIssue()' ladda='issueReporting')
      span.glyphicon.glyphicon-comment
      = ' '
      | {{'popup_reportIssues' | tr}}
    = ' '
    button.btn.btn-default(ng-click='downloadLog()' ladda='logDownloading' data-spinner-color="currentColor")
      span.glyphicon.glyphicon-download
      = ' '
      | {{'popup_errorLog' | tr}}
    = ' '
    button.btn.btn-danger(ng-click='showResetOptionsModal()' ladda='optionsReseting')
      span.glyphicon.glyphicon-alert
      = ' '
      | {{'options_reset' | tr}}
section
  p
    | {{'about_version' | tr:[version]}}
  p.text-warning
    span.glyphicon.glyphicon-info-sign
    = ' '
    span(ng-bind-html='"about_disclaimer_networkService" | tr')
  p.text-success
    span.glyphicon.glyphicon-eye-close
    = ' '
    span(ng-bind-html='"about_disclaimer_privacy" | tr')
  p.text-info
    span.glyphicon.glyphicon-question-sign
    = ' '
    span(ng-bind-html='"about_help" | tr')

section(style='margin-top: 7em')
  p
    | {{'Z&#8203;er&#8203;oO&#8203;mega'}}
    br
    span(ng-bind-html='"about_copyright" | tr')
    br
    span(ng-bind-html='htmlCredits')
    br
    span(ng-bind-html='htmlLicense')
